#what-they-says{
	background-color: #f4f5f7;
	overflow: hidden;
}
#person-info{
  background-color: #ededed;
  padding-right: 100px;
}
#arrow-buttons{
  padding: 0;
  margin: 0;
}
.arrow-right-poss{
  float: right;
}