.center{
	display: block;
	margin: auto;
}

.bold-h{
	font-weight: bold;
}

.ucase-h{
	text-transform: uppercase;
}

.center-h{
	text-align: center;
}

.row-space{
	line-height: 160%;
}

.img-wraper{
	padding: 100px;
}
.img-block{
  overflow: hidden;
	padding: 10px 10px 5px 10px;
 height: 375px;

}
.title-block{
	padding: 40px 0px 7.5% 0px;
}
.sec-padd{
  overflow: hidden;
  padding: 30px 110px 100px 110px;
}

.white-h{
    color: white;
}

.img-wraper a{
    text-transform: uppercase;
    color: rgb(210, 216, 216);
   }
.img-wraper a:hover{
    text-decoration: none;
    color: rgb(210, 216, 216);
   }
