#contacts{
  padding-left: 15px;
  padding-top: 25px;
  float: right;
  margin-right: 8%;
  background-color: rgba(10,10,10, 0.6);
  width: 520px;
  height: 460px;

}
#contacts h4{
   color: rgba(210, 216, 216,0.8);
    font-weight: 30px;
}
#map{
  width:490px;
  height:200px;
  margin: 15px;
  margin-left: 0px;
  background:yellow
}
#cont-forma{
   padding-top: 25px;
  margin-left: 8%;
  background-color: rgba(10, 10, 10, 0.6);
  float: left;
  width: 590px;
  height: 460px;
}


.input-field{
   height: 40px;
  width: 570px;
  margin:  10px;
  opacity: 1;
  background-color: rgba(255, 255, 255,0);
  border:0px;
   border-bottom:  1px solid rgba(210, 216, 216, .5);

}
#cont-forma textarea{
   width: 570px;
   height: 165px;
  margin-left:   10px;
   background-color: rgba(255, 255, 255,0);
   border:0px;
   border-bottom:  1px solid rgba(210, 216, 216, .5);

}

#subm-butt{
    height: 50px; 
    width: 150px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: rgb(0, 243, 247);
    border: 1px;
   } 
#cont-footer{
      background-image: url(../images/bg_footer.png);
   } 
::-webkit-input-placeholder{
   color: rgba(210, 216, 216,0.8);
    font-weight: bold;
    border-bottom: 2px ;
   }
::-webkit-textarea-placeholder{
   color: rgba(210, 216, 216,0.8);
   font-weight: bold;
    border-bottom: 2px ;
   }
   .social{
  text-align: center;
}
#social-footer{
  padding: 50px 0px 50px 0px;
  background-color: #444444;
}